CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build-Project_Data_Structures-Desktop_Qt_5_12_7_MinGW_64_bit-Debug/
*.pdf
